<Files >
 Order Allow,Deny
 Deny from all
</Files>

RewriteEngine On

# index.html als /home
RewriteRule ^home/?$ index.html [L]
RewriteRule ^grundrezepte/?$ grundrezepte.html [L]
RewriteRule ^info/?$ infos.html [L]
RewriteRule ^zubereitungsmethoden/?$ infos.html#Zubereitung [L]


# .html-Endungen entfernen
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(grundrezepte|infos|policy)/?$ $1.html [L]

# 404-Fehler auf die Startseite umleiten
ErrorDocument 404 /index.html 
ErrorDocument 500 /index.html 